.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f7f7f7;
  border-radius: 20px;
  gap: 10px;
  align-items: flex-start;
}

.name {
  padding-right: 10px;
  color: black;
}
.number {
  padding-right: 10px;
  color: black;
}

.btn {
  border-radius: 50px;
  border-color: black;
  width: 150px;
  margin: 0 auto;
  justify-content: flex-start;
}

.btn:hover {
  background-color: greenyellow;
}

.err {
  color: red;
  display: flex;
}
